* {
    font-family : arial;
    padding : 0;
    margin : 0;
}

body {
    width : 1140px;
    margin : auto;
}

/* navigation styling */

.navigation {
  /*   border : 1px solid black; */
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 1.5rem 0;
}

.navigation__linksContainer {
    list-style-type : none;
  /*   border : 1px solid black; */
    padding-left : 0px;
    margin-right : -6rem;
}

.navigation__linksContainer > li {
    display : inline;
    margin-right : 3rem;
}

.navigation__btn--signIn {
    padding : .5rem 1.7rem;
    background-color : white;
    border : 1px solid black;
    border-radius : .2rem;
}

.navigation__brandName {
  /*   border : 1px solid black; */
    font-size : 1.5rem;
    font-weight : 750;
    font-family : arial;
    
}

/* banner styling */

.banner {
  display : flex;
  margin-top: 1rem;
}

.banner__details {
  /* border : 1px solid black; */
  padding : 1rem 0 1rem 1rem;
}

.banner__details__tag {
  /* border : 1px solid red; */
  background: #e6edef;
  color : #414e4f;
  width : 270px;
  padding : .5rem 0;
  border-radius: 1.5rem;
  text-align: center;
  margin : 1.5rem 0;
}

.banner__details__heading {
  font-size : 3.7rem;
  font-weight: bold;
  width: 530px;
  /* border: 1px solid black; */
}

.banner__details__subHeading {
  /* border: 1px solid black; */
  width: 530px;
  color : #465555;
  margin: 1.5rem 0;
}

.btn {
  font-size: 1rem;
  padding : .9rem 1.5rem;
  margin-right: 1rem;
}

.banner__details__btn {
  /* border: 1px solid black; */
  padding: 1.5rem 0;
}

.banner__details__btn--start {
  background-color: #1264e3;
  color: white;
  border : 1px solid #1264e3;
  border-radius : .2rem;
  box-shadow: 2px 2px 10px #3f3f46;
}

.banner__details__btn--contact {
  background-color: white;
  color: #6f6f6f;
  border : 1px solid black;
  border-radius : .2rem;
  
}

.banner__image {
  /* border : 1px solid black; */
  height : 500px;
  width : 900px;
}

.companies {
  margin-top: 4rem;
  /* border : 1px solid black; */
}

.companies__text {
  /* border : 1px solid black; */
  font-size: 1.3rem;
  text-align: center;
  color: #455c5c;
}

.companies__text--highlighted {
  color : #1264e3;
  font-weight: bold;
}
.companies__logos {
  text-align: center;
}
.logos {
  height : 80px;
  width : 200px;
  margin : 1rem 1.5rem;
}

.companies__logos__sony {
  height : 100px;
}

.companies__logos__louis-vatton {
  margin-bottom: 1.6rem;
}

.companies__logos__slack {
  margin-bottom: 1.5rem;
  height : 90px;
}

.companies__logos__facebook {
  margin-bottom: 2rem;
}

.features {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 10rem;
  /* border: 1px solid black; */
  padding : 1rem 1rem 1rem 2rem;
  justify-content: space-between;
}


.features > * {
  /* border : 1px solid black; */
  width : 250px;
  padding : 1rem 1rem 1rem 0;
}

.f_logo {
  /* border : 1px solid black; */
  height : 3.5rem;
  width : 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .6rem;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 10px #777778;
}

.features__f1__logo{
  background-color: #1264e3;
  color: white;
}

.features__f2__logo{
  background-color: #ff8a00;
  color : white;
}

.features__f3__logo{
  background-color: #2ed841;
  color : white;
}

.f_heading {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.f_link {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.fa-long-arrow-right{
  /* border: 1px solid black; */
  padding-top: .1rem;
  margin-left: .5rem;
}

.f_shortInfo {
  line-height: 1.5;
}